@font-face {
  font-family: "Traffic";
  src: url("../fonts/BTraffic/BTraffic_1.woff2") format("woff2"),
    url("../fonts/BTraffic/BTraffic_1.woff") format("woff"),
    url("../fonts/BTraffic/BTraffic_1.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Traffic";
  src: url("../fonts/Ubonto/BTraffic_1.woff2") format("woff2"),
    url("../fonts/BTraffic/BTraffic_1.woff") format("woff"),
    url("../fonts/BTraffic/BTraffic_1.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
