@font-face {
  font-family: "Ubuntu";
  src: url("../fonts/Ubonto/Ubuntu-Medium.woff2") format("woff2"),
    url("../fonts/Ubonto/Ubuntu-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
