/* * {
  outline: 1px solid red;
} */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none;
}
a {
  color: inherit;
  text-decoration: none !important;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none;
}

.logo {
  width: 15rem !important;
}

.text-filed-input-v2 {
  border: 0;
  width: 100%;
}
.text-filed-input-v2:focus {
  /* border: 0; */
  outline: 0;
}

.next-button {
  width: 30px;
  height: 30px;
  background-color: red;
}
.calendar-input {
  font-family: "Vazirmatn";
  width: 171.96px;
  height: 52px;
  /* border-radius: 20px; */
  /* border: 2px solid #ecececec; */
  /* text-align: center; */
  color: #cbcbcb;
  /* padding-inline: 2rem; */
}
.icon-tabler-calendar-event {
  left: 15px !important;
  fill: #ff7d41;
}

/* // over write calendar css */
/* .rmdp-day:not(.rmdp-disabled):not(.rmdp-day-hidden) span:hover {
  background-color: #ff7d41 !important;
  opacity: 0.5;
} */
.rmdp-week-day {
  color: #ff7d41 !important;
}
.rmdp-selected span {
  background-color: #ff7d41 !important;
}
.rmdp-today span {
  background-color: #ff7d41 !important;
  opacity: 0.8;
}
.rmdp-day:not(.rmdp-disabled):not(.rmdp-day-hidden) span:hover {
  background-color: #ff7d41 !important;
  opacity: 0.3;
  color: #fff;
}
.sd:hover {
  background-color: #ff7d41 !important;
  opacity: 0.3;
}
/* .rmdp-arrow {
  border: solid #ff7d41 !important;
} */
.rmdp-arrow {
  border-color: #ff7d41 !important;
}
.rmdp-arrow-container:hover {
  background-color: #ff7d41 !important;

  /* box-shadow: 0 0 3px #8798ad; */
}
.rmdp-arrow-container:hover .rmdp-arrow {
  border-color: #f8f4f2 !important;
}

.MuiButton-outlined {
  border: 2px solid #ff7d41 !important;
}

.button_medium {
  width: 143px !important;
  height: 52px !important;
  max-width: 143px !important ;
  max-height: 52px !important;
  /* padding-top: 0.65rem !important;
  padding-bottom: 0.65rem !important; */
}
.button_medium_v1 {
  width: 168.41px !important;
  height: 52px !important;
  max-width: 168.41px !important ;
  max-height: 52px !important;
  min-width: 168.41px !important;
  min-height: 52px !important;
  /* padding-top: 0.65rem !important;
  padding-bottom: 0.65rem !important; */
}

.button_large {
  width: 173.03px !important;
  height: 72px !important;
  max-width: 173.03px !important ;
  max-height: 72px !important;
  /* padding-top: 0.65rem !important;
  padding-bottom: 0.65rem !important; */
}

.button_extra-large_v1 {
  width: 197.03px !important;
  height: 52px !important;
  max-width: 197.03px !important ;
  max-height: 52px !important;
  /* padding-top: 0.65rem !important;
  padding-bottom: 0.65rem !important; */
}
.button_extra-large_v2 {
  width: 186.73px !important;
  height: 52px !important;
  max-width: 186.73px !important ;
  max-height: 52px !important;
  /* padding-top: 0.65rem !important;
  padding-bottom: 0.65rem !important; */
}
.editor-header-button_extra-small {
  width: 128px !important;
  height: 64px !important;
  max-width: 128px !important ;
  max-height: 64px !important;
  /* padding-top: 0.65rem !important;
  padding-bottom: 0.65rem !important; */
}
.editor-header-button_extra-medium {
  width: 191px !important;
  height: 64px !important;
  max-width: 191px !important ;
  max-height: 64px !important;
  /* padding-top: 0.65rem !important;
  padding-bottom: 0.65rem !important; */
}
.editor-header-button_extra-large {
  width: 236px !important;
  height: 64px !important;
  max-width: 236px !important ;
  max-height: 64px !important;
  /* padding-top: 0.65rem !important;
  padding-bottom: 0.65rem !important; */
}
.button_extra-large {
  width: 206px !important;
  height: 72px !important;
  max-width: 206px !important ;
  max-height: 72px !important;
  /* padding-top: 0.65rem !important;
  padding-bottom: 0.65rem !important; */
}
.button_contained_v2 {
  /* background: linear-gradient(111.74deg, #ff7d41 24.86%, #ff5100 69.34%); */
  background-color: #ffe5d8 !important;
  color: #ff7d41 !important;
  border-radius: 20px;
  box-shadow: none;
}
.button_big {
  width: 180px !important;
  height: 62px !important;
  max-width: 180px !important ;
  max-height: 62px !important;
}
.text-filed-medium-v1 {
  width: 200px !important;
  height: 52px !important;
  max-width: 200px !important;
  max-height: 52px !important;
}
.text-filed-medium {
  width: 93% !important;
  height: 52px !important;
  max-width: 100% !important ;
  max-height: 62px !important;
}
.icon_mx-0_6rem {
  margin-left: 0.65rem;
  margin-right: 0.65rem;
}
.select-rtl {
  font-family: "Vazirmatn";
  width: 160px;
  border-radius: 20px;
  height: 52px;
  appearance: none;
  background-image: url("../svg/icon/DownArrow_SelectBox.svg");
  background-repeat: no-repeat;
  background-position: left 1rem center;
  border-radius: 2px;
  /* padding: 0.25rem 2rem 0.25rem 0.75rem; */
  border: 2px solid #ececec;
  border-radius: 20px;
  text-align: center;
}

.select-lft {
  font-family: "Vazirmatn";
  width: 160px;
  border-radius: 20px;
  height: 52px;
  appearance: none;
  background-image: url("../svg/icon/DownArrow_SelectBox.svg");
  background-repeat: no-repeat;
  background-position: right 1rem center;
  border-radius: 2px;
  /* padding: 0.25rem 2rem 0.25rem 0.75rem; */
  border: 2px solid #ececec;
  border-radius: 20px;
  text-align: center;
}
select:focus {
  /* border: 2px solid #ececec; */
  outline: none;
  /* background-color: antiquewhite; */
}
.select-medium {
  font-family: "Vazirmatn";
  width: 140px;
  border-radius: 20px;
  height: 52px;
  appearance: none;
  background-image: url("../svg/icon/DownArrow_SelectBox.svg");
  background-repeat: no-repeat;
  background-position: left 1rem center;
  border-radius: 2px;
  /* padding: 0.25rem 2rem 0.25rem 0.75rem; */
  border: 2px solid #ececec;
  border-radius: 20px;
  text-align: center;
}
html[dir="ltr"] .select-medium {
  background-position: right 1rem center;
}
/* // */
.select-large {
  font-family: "Vazirmatn";
  width: 160px;
  min-width: 160px;
  height: 52px;
  min-height: 52px;
  border-radius: 20px;
  appearance: none;
  background-image: url("../svg/icon/DownArrow_SelectBox.svg");
  background-repeat: no-repeat;
  background-position: left 1rem center;
  border-radius: 2px;
  /* padding: 0.25rem 2rem 0.25rem 0.75rem; */
  border: 2px solid #ececec;
  border-radius: 20px;
  text-align: center;
}
html[dir="ltr"] .select-large {
  font-family: "Vazirmatn";
  border-radius: 20px;
  width: 100%;
  min-width: 160px;
  height: 52px;
  height: 52px;
  appearance: none;
  background-image: url("../svg/icon/DownArrow_SelectBox.svg");
  background-repeat: no-repeat;
  background-position: right 1rem center;
  border-radius: 2px;
  /* padding: 0.25rem 2rem 0.25rem 0.75rem; */
  border: 2px solid #ececec;
  border-radius: 20px;
  /* text-align: center; */
  padding-right: 0;
  /* padding-left: 1.2rem; */
}
.select-extra-large {
  font-family: "Vazirmatn";
  width: 490px;
  min-width: 490px;
  height: 52px;
  min-height: 52px;
  border-radius: 20px;
  appearance: none;
  /* background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1.4rem' height='1.2rem' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M6.1018 8C5.02785 8 4.45387 9.2649 5.16108 10.0731L10.6829 16.3838C11.3801 17.1806 12.6197 17.1806 13.3169 16.3838L18.8388 10.0731C19.5459 9.2649 18.972 8 17.898 8H6.1018Z' fill='%23212121'/%3E%3C/svg%3E"); */
  background-image: url("../svg/icon/DownArrow_SelectBox.svg");
  background-repeat: no-repeat;
  background-position: left 1rem center;
  border-radius: 2px;
  padding-right: 0.5rem;
  border: 2px solid #ececec;
  border-radius: 20px;
  text-align: start;
}
html[dir="ltr"] .select-extra-large {
  font-family: "Vazirmatn";
  border-radius: 20px;
  width: 490px;
  min-width: 490px;
  height: 52px;

  appearance: none;
  /* background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1.4rem' height='1.2rem' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M6.1018 8C5.02785 8 4.45387 9.2649 5.16108 10.0731L10.6829 16.3838C11.3801 17.1806 12.6197 17.1806 13.3169 16.3838L18.8388 10.0731C19.5459 9.2649 18.972 8 17.898 8H6.1018Z' fill='%23212121'/%3E%3C/svg%3E"); */
  background-image: url("../svg/icon/DownArrow_SelectBox.svg");
  background-repeat: no-repeat;
  background-position: right 1rem center;
  border-radius: 2px;

  border: 2px solid #ececec;
  border-radius: 20px;

  padding-right: 0;
  padding-left: 0.5rem;
}
/* // */
.text-filed-large {
  width: 95%;
  height: 52px;
  max-width: 100% !important ;
  max-height: 52px !important;
  background-color: #ffffff00;
  /* padding-inline: 249.345px; */
}
.success-logo {
  width: 60.06px;
  height: 60.06px;
  max-width: 60.06px;
  max-height: 60.06px;
  border-radius: 50%;
  background-color: #f36523;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-1 {
  width: 360px;
  height: 250px;
  max-width: 330px;
  max-height: 250px;
  border: 1px solid #cbcbcb;
  border-radius: 25px;
  /* // */
}
.card-header-1 {
  white-space: nowrap;
}
.user-pass-box {
  width: 180px;
  height: 74.04px;
  border: 1px solid #cbcbcb;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
}
.user-pass-child-box {
  width: 35px;
  border-left: 1px solid #cbcbcb;
  padding-top: 8px;
  padding-bottom: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}
html[dir="ltr"] .user-pass-child-box {
  border: 0;
  border-right: 1px solid #cbcbcb;
}

.x-scroll {
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
}

.overflow-hidden {
  overflow: hidden;
}
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  position: absolute;
  left: 0;
}
::-webkit-scrollbar-track {
  background-color: #ececec;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #cbcbcb;
}

.language-card-select {
  width: 490px;
  height: 52px;
  min-width: 490px;
}
.test-area-big {
  width: 861.9px;
  height: 110px;
  max-height: 110px;
}
.language-card-select-large {
  width: 861.9px;
  height: 127.25px;
  min-width: 490px;
}
.laguage-card {
  /* position: absolute; */

  bottom: 1rem;
  right: 26rem;
  border-radius: 20px;
  width: 100px;
  height: 74px;
}
.width {
  width: 328.3px;
  max-width: 328.3px;
}
.height {
  height: 7.9rem;
  max-height: 7.9rem;
}
.height-62 {
  height: 62px !important;
  min-height: 62px !important ;
}
.height-92 {
  height: 92px;
}
.height-190 {
  height: 190px;
  max-height: 190px;
}
.grid-height {
  height: 16rem;
  max-height: 16rem;
}

.badge_1 {
  width: 42px;
  height: 42px;
}

.add-product-medium-text-area-header-card {
  bottom: -2rem;
  right: 11.4rem;
}
html[dir="ltr"] .add-product-medium-text-area-header-card {
  right: 0;
  left: 11.39rem;
}
.add-product-big-text-area-header-card {
  bottom: -2rem;
  right: 34.6rem;
}
html[dir="ltr"] .add-product-big-text-area-header-card {
  right: 0;
  left: 34.59rem;
}
.upload-file-area {
  width: 136.8px;
  height: 87.71px;
}
.upload-file-area-preview {
  width: 140px;
  height: 140px;
  border-radius: 20px;
}
.upload-file-area-progress-bar {
  width: 211.75px !important;
  max-width: 211.75px !important;
}

.cheched-box {
  width: 34.22px;
  height: 34.22px;
  background: #f36523;
  border-radius: 20px;
  left: 0.52rem;
  top: 1.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
html[dir="ltr"] .cheched-box {
  left: -8.3rem;
  right: 1rem;
}
.uploaded-file-area {
  width: 860px;
  height: 190px;
  border: 2px solid #ececec;
  border-radius: 20px;
}
.search_box {
  width: 420px !important;
  height: 52px !important;
}
.test:first-child:nth-last-child(1) {
  background-color: brown;
}
.recharts-text {
}
html[dir="rtl"] .recharts-text {
  font-family: Vazirmatn;
}

/* .recharts-cartesian-axis-line {
  display: none;
}
line {
  display: none;
} */

/* chart */
.recharts-tooltip-wrapper:focus-visible {
  outline: 0;
  border: 0;
}
.recharts-tooltip-cursor {
  display: none;
}

.footer-statistics {
  width: 186.71px;
  height: 104.41px;
  border: 1px solid #ececec;
  border-radius: 20px;
}

.card-header-chart-disabled {
  background-color: #ececec !important;
  color: #cdcdcd !important;
}

.scrollable-small {
  max-height: 14.9rem;
  overflow-y: scroll;
}
.scrollable-small::-webkit-scrollbar {
  width: 10px;
  height: 2px;
}
.scrollable-small::-webkit-scrollbar-track {
  margin-top: 30px;
  margin-bottom: 30px;
}

.scrollable-extra-small {
  max-height: 6rem;
  overflow-y: scroll;
}
.scrollable-x-extra-small {
  max-height: 6rem;
  overflow-x: scroll;
}
.scrollable {
  max-height: 33rem;
  overflow-y: scroll;
}
.scrollable-medium {
  max-height: 33rem;

  overflow-y: scroll;
}
.scrollable-medium-test {
  max-height: 33rem;

  overflow-y: scroll;
}
.scrollable1 {
  max-height: 25.99rem;
  overflow-y: auto;
}
.scrollable2 {
  position: relative;
  max-height: 40rem;
  overflow-y: scroll;
}
.scrollable2_v1 {
  position: relative;
  max-height: 40rem;
  overflow-y: scroll;
}
.scrollable3 {
  /* position: relative; */
  max-height: 40.5rem;
  overflow-y: scroll;
}
.scrollable-x-latge {
  /* position: relative; */
  height: 59vh;
  overflow-x: scroll;
}
.scrollable-x-latge::-webkit-scrollbar-track {
  /* position: relative; */
  margin-left: 25px;
  margin-right: 25px;
}
.scrollable-x-latge::-webkit-scrollbar-thumb {
  /* position: relative; */
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #cbcbcb;
}
.action-botton-positon-rtl {
  left: 0.8rem;
}
/* .action-botton-positon {
  left: 0.9rem;
} */

/* html[dir="ltr"] .action-botton-positon {
  left: 0;
  right: 0.9rem !important;
} */

.editor-end-column-r {
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}
html[dir="ltr"] .editor-end-column-r {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}
.action-botton-positon-ltr {
  /* left: 0 !important; */
  right: 0.8rem !important;
}
.editor-action-buttons {
  width: 62px;
  height: 62px;
}
.editor-action-buttons-bg-primary {
  background: #f36523;
  box-shadow: 0px 30px 30px -10px rgba(0, 0, 0, 0.7);
}
.editor-action-buttons-bg-white {
  background: #f5f5f5;
  box-shadow: 0px 30px 30px -10px rgba(0, 0, 0, 0.7);
}
.footer-shape-icon-box-rtl {
  right: 2.7rem;
  top: 2.29rem;
}
.footer-shape-icon-box-ltr {
  left: 2.7rem;
  top: 2.29rem;
  rotate: -90deg;
}
